{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Repartee</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>
    <style>
        body{
            background-color: bisque;
            display: block;
        }

        iframe{
            display: block;
            margin: auto;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body onLoad="load()">
    <!-- You may change the dimensions of this canvas -->
    <div class = "container">
        <div class = "meetingContainer">
            <input placeholder="Create book name" id = "creat-host">
            <input placeholder="Create community id" id = "meeting-id">
            <input placeholder="Enter book url" id = "book-url">
            <button onclick="onClick()">Create Event</button>
        </div>
        <div class ="joinContainer">
            <input placeholder="Enter book name" id = "check-host">
            <input placeholder="Enter community id" id = "event-id">
            <button onclick="join()">Join Event</button>
        </div>
        <button onclick="clear()"> Clear </button>
    </div>

</body>
<script>
    var url = window.location.href;

    var size = getSize(url);

    function clear(){
        window.localStorage.clear();
    }
    function getSize(url) {
        var begin = url.indexOf('=') + 1;
        var result = '';
        while (begin < url.length) {
            result += url[begin];
            begin++;
        }
        return result;
    }

    function load(){
        if(size == 'phone'){
            $(".meetingContainer").hide();
        }
    }
    // Below are function and objects to handle login info
    var ids = {}
    var events = {}
    if(JSON.parse(localStorage.getItem('ids')) != undefined){
        ids = JSON.parse(localStorage.getItem('ids'));
    }
    if(JSON.parse(localStorage.getItem('events')) != undefined){
        events = JSON.parse(localStorage.getItem('events'));
    }
    console.log(events)
    function onClick(){
        console.log(ids);
        var eventID = $("#meeting-id").val();
        var hostName = $("#creat-host").val();
        if(eventID in ids){
            alert("There's already a event with this id");
        }else{
            if($("#meeting-id").val() != "" && $("#book-url").val() != "" && hostName != ""){
                ids[eventID] = hostName;
                var eventInfo = {
                    hostname: $("#creat-host").val(),
                    meetingid: $("#meeting-id").val(),
                    bookurl: $("#book-url").val(),
                }
                events[eventID] = JSON.stringify(eventInfo);
                localStorage.setItem('ids',JSON.stringify(ids));
                localStorage.setItem('events',JSON.stringify(events));
                localStorage.setItem('event', JSON.stringify(eventInfo));
                window.location.replace("http://127.0.0.1:8000/draw/repartee");
            }
        }
    }
    function join(){
        var eventID = $("#event-id").val();
        var hostName = $("#check-host").val();
        console.log(events);
        if(eventID in ids && ids[eventID] == hostName){
            console.log(events);
            localStorage.setItem('event',events[eventID]);
            window.location.replace("http://127.0.0.1:8000/draw/repartee");
        }else if(!(eventID in ids)){
            alert("Event id "+ eventID + " does not exsists!");
        }else{
            alert("Host name for id "+ eventID+ " doesn't match please double check");
        }
    }
</script>
</html>
