{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Repartee</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>
    <style>
        body{
            background-image: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
            background-color: bisque;
            display: block;
        }
        h1{
            text-align: center;
            font-family: 'Inconsolata', monospace;
            color: aliceblue;
        }
        button{
            width: 101%;
            margin-top: 10px;
            
        }
        input{
            width: 100%;
        }
        .container {
            font-family: 'Inconsolata', monospace;
            width: 300px;
            height: 600px;
            position: fixed; /*Can also be `fixed`*/
            left: 0;
            right: 0;
            top: 20%;
            bottom: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
        }

    </style>
</head>
<body onLoad="load()">
    <!-- You may change the dimensions of this canvas -->
    <div class = "container">
        <h1>Welcome to Repartee</h1>
        <div class = "meetingContainer">
            <input placeholder="Create community" id = "meeting-id">
            <input placeholder="Enter book name" id = "creat-host">
            <input placeholder="Enter book url" id = "book-url">
            <button onclick="onClick()">Upload Book</button>
        </div>
        <div class ="joinContainer">
            <input placeholder="Enter community name" id = "event-id">
            <input placeholder="Enter book name" id = "check-host">
            <button onclick="join()">Search Book</button>
        </div>
        <div class = "searchContainer">
            <h1>Or</h1>
            <input placeholder="Search your community" id = "search">
            <button onclick="search()">Search</button>
        </div>
    </div>

</body>
<script>
    var url = window.location.href;

    var size = getSize(url);

    function clear(){
        window.localStorage.clear();
    }
    function getSize(url) {
        var begin = url.indexOf('=') + 1;
        var result = '';
        while (begin < url.length) {
            result += url[begin];
            begin++;
        }
        return result;
    }
    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');
    
    socket.onmessage = function (receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log(JSON.stringify(received));
    }
    function load(){
        if(size == 'phone' || size == 'desktop'){
            if(size == 'phone'){
                $(".meetingContainer").hide();
            }else if(size == 'desktop'){
                $(".joinContainer").hide();
                $(".searchContainer").hide();
            }
        }else{
            $("body").append("<h1> Check your URL, Specify Your Mode With ?=phone/desktop in the end of url!<h1>");
            $(".container").hide();
        }
    }
    // Below are function and objects to handle login info
    var ids = {}
    var events = {}
    if(JSON.parse(localStorage.getItem('ids')) != undefined){
        ids = JSON.parse(localStorage.getItem('ids'));
    }
    if(JSON.parse(localStorage.getItem('events')) != undefined){
        events = JSON.parse(localStorage.getItem('events'));
    }
    function onClick(){
        console.log(ids);
        var eventID = $("#meeting-id").val();
        var hostName = $("#creat-host").val();
        if(eventID in ids){
            alert("There's already a event with this id");
        }else{
            if($("#meeting-id").val() != "" && $("#book-url").val() != "" && hostName != ""){
                ids[eventID] = hostName;
                var eventInfo = {
                    hostname: $("#creat-host").val(),
                    meetingid: $("#meeting-id").val(),
                    bookurl: $("#book-url").val(),
                }
                events[eventID] = JSON.stringify(eventInfo);
                localStorage.setItem('ids',JSON.stringify(ids));
                localStorage.setItem('events',JSON.stringify(events));
                localStorage.setItem('event', JSON.stringify(eventInfo));
                window.location.replace("http://127.0.0.1:8000/draw?size="+size);
            }
        }
    }
    function join(){
        var eventID = $("#event-id").val();
        var hostName = $("#check-host").val();
        console.log(events);
        if(eventID in ids && ids[eventID] == hostName){
            console.log(events);
            localStorage.setItem('event',events[eventID]);
            window.location.replace("http://127.0.0.1:8000/draw?size="+size);
        }else if(!(eventID in ids)){
            alert("Community "+ eventID + " does not exsists!");
        }else{
            alert("Book name for id "+ eventID+ " doesn't match please double check");
        }
    }

    function search(){
        var eventID = $("#search").val();
        if(!ids.hasOwnProperty(eventID)){
            alert(eventID + " community has not been created yet! Please create at our desktop app!");
        }else{
            localStorage.setItem('event', events[eventID]);
            window.location.replace("http://127.0.0.1:8000/draw/search?size="+size);
        }
    }
</script>
</html>
